@use "sass:map";
@import "../../../style/pages/theme";


.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: map.get($theme-colors, "gradient-bg");
    padding: 30px 20px;
    box-sizing: border-box;
    font-family: sans-serif;

    .register-box {
        background: #fff;
        padding: 35px;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        width: 100%;
        max-width: 450px;
        text-align: center;

        .register-header {
            margin-bottom: 25px;
            h2 { color: map.get($theme-colors, "main-color1"); font-size: 28px; margin-bottom: 5px; }
            p { color: #666; font-size: 14px; }
        }

        form {
            .input-group {
                text-align: left;
                margin-bottom: 15px;
                label { display: block; margin-bottom: 6px; font-weight: bold; color: #333; font-size: 14px; }
                input {
                    width: 100%;
                    padding: 11px;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    outline: none;
                    box-sizing: border-box;
                    font-size: 14px;
                    &:focus { border-color: map.get($theme-colors, "main-color1");; }
                }
            }
            .btn-register {
                width: 100%;
                padding: 13px;
                background: map.get($theme-colors, "gradient-bg");
                border: none;
                color: #fff;
                font-weight: bold;
                font-size: 16px;
                border-radius: 5px;
                cursor: pointer;
                margin-top: 10px;
                transition: opacity 0.3s;
                
                &:hover { opacity: 0.9; }
            }
        }

        .register-footer {
            margin-top: 20px;
            font-size: 14px;
            color: #888;
            a { color: map.get($theme-colors, "main-color2");; cursor: pointer; font-weight: bold; text-decoration: none; }
        }
    }
}