@use "sass:map";
@import "../../../../style/pages/theme";

.header__top {
    background: map.get($theme-colors, "top-header-color");
}

.header__top_right {
    display: flex;
    justify-content: end;
    padding: 10px 0 10px;

    ul {
        display: flex;
        column-gap: 10px;
        list-style: none;

        a {
            font-size: 16px;
            display: inline-block;
            text-decoration: none;
            color: map.get($theme-colors, "main");

            span {
                font-size: 16px;
                margin-left: 2px;
            }
        }
    }
}